In [27]:
def functiontest ():
  print("function test")
print("out of scope")
functiontest()

out of scope
function test

In [28]:
myInt = 1
myfloat = 4.0
data = myInt + myfloat
print (data)
type(data)

5.0

float

In [29]:
mystr = "ini string"
print (mystr)

ini string

In [30]:
myBool = False
myCompare = myInt == myfloat

print(type(myBool))
print(type(myCompare))

<class 'bool'>
<class 'bool'>

In [31]:
a=b=c=d=6
print(a,b,c,d)

6 6 6 6

In [32]:
a,b=[1,2]
print(a, b)

1 2

In [33]:
myVariable = 'ini my variable'

myChildAge = 'camel case'
myChildAge = 'pascal case'
my_child_age = 'snake case'

In [34]:
myFistNumber = 10
mySecondNumber = 3

print(myFistNumber + mySecondNumber)
print(myFistNumber - mySecondNumber)
print(myFistNumber * mySecondNumber)
print(myFistNumber / mySecondNumber)
print(myFistNumber % mySecondNumber)
print(myFistNumber ** mySecondNumber)

13
7
30
3.3333333333333335
1
1000

In [35]:
hello = 'hello'
name = 'name'
name2 = 'name'

print(hello + name)

helloname

In [36]:
print(hello == name)
print(name2 == name)
print(name2 > name)
print(name2 >= name)
print(name2 != name)
print(name2 <= name)
print(name2 < name)

isSameName = name == name2
if(isSameName):
  print('name and name2 have same value')

False
True
False
True
False
True
False
name and name2 have same value

In [37]:
mytestString = 'nama saya reza'

In [38]:
mytestString.capitalize()

'Nama saya reza'

In [39]:
myName = input('enter name ')
print('my name is ', myName)

enter name reza
my name is  reza

In [40]:
a = [1,"dua",3,"empat"]
a = [1,[2], [3,4]]

In [41]:
myUpsideList = [10,9,8]
myUpsideList.sort()
myUpsideList.count(9)

1

In [42]:
len(myUpsideList)

3

In [43]:
print(min(myUpsideList))
print(max(myUpsideList))

8
10

In [44]:
myUpsideList = [10,9,8]
myUpsideList.sort()
myUpsideList.append(6)
print(myUpsideList)

[8, 9, 10, 6]

In [45]:
myUpsideList[3]=7

In [46]:
myUpsideList

[8, 9, 10, 7]

In [47]:
myList = [10,9,8,6,7]

In [48]:
existVal = myList[3]
myList[3] = myList[4]
myList[4] = existVal
myList

[10, 9, 8, 7, 6]

In [50]:
myList[1:4]=[2,3,4,5]
myList

[10, 2, 3, 4, 5, 5, 6]

In [51]:
myTuple = (1, 3, 4, 5, 6)
myTuple

(1, 3, 4, 5, 6)

In [53]:
myTuple.count(4)

1

In [58]:
aboutMe = {'name':'reza', 'age':'20', 'hobbies': ['eat','sleep'],}
aboutMe

{'name': 'reza', 'age': '20', 'hobbies': ['eat', 'sleep']}

In [59]:
aboutMe['lokasi'] = 'jogja'

In [60]:
aboutMe['address'] = {
    'kec':'pakualaman',
    'kota':'Yogyakarta',
    'jalan':'sultan agung'
}

In [61]:
aboutMe

{'name': 'reza',
 'age': '20',
 'hobbies': ['eat', 'sleep'],
 'lokasi': 'jogja',
 'address': {'kec': 'pakualaman',
  'kota': 'Yogyakarta',
  'jalan': 'sultan agung'}}

In [62]:
aboutMe['hobbies'][1]

'sleep'