In [ ]:
import pandas as pd
import numpy as np

In [ ]:
my_series = pd.Series([2,3,4,67,89,90,99])
my_series

0     2
1     3
2     4
3    67
4    89
5    90
6    99
dtype: int64

In [ ]:
my_series.index = pd.RangeIndex(start=0 , step=2, stop=14)
my_series

0      2
2      3
4      4
6     67
8     89
10    90
12    99
dtype: int64

In [ ]:
my_series[6]

67

In [ ]:
my_series2 = pd.Series([2,3,4,67,89,90,99]), index
my_series2

In [ ]:
e#dictionary di pansad
my_series.attrs {"nama":["ezxa"],
        "umur":["21"]}
my_series

SyntaxError: ignored

In [ ]:
range = pd.date_range(start="10/7/2021", periods=60 ,freq="D")
value = np.random.rand(0,100)
range

DatetimeIndex(['2021-10-07', '2021-10-08', '2021-10-09', '2021-10-10',
               '2021-10-11', '2021-10-12', '2021-10-13', '2021-10-14',
               '2021-10-15', '2021-10-16', '2021-10-17', '2021-10-18',
               '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
               '2021-10-23', '2021-10-24', '2021-10-25', '2021-10-26',
               '2021-10-27', '2021-10-28', '2021-10-29', '2021-10-30',
               '2021-10-31', '2021-11-01', '2021-11-02', '2021-11-03',
               '2021-11-04', '2021-11-05', '2021-11-06', '2021-11-07',
               '2021-11-08', '2021-11-09', '2021-11-10', '2021-11-11',
               '2021-11-12', '2021-11-13', '2021-11-14', '2021-11-15',
               '2021-11-16', '2021-11-17', '2021-11-18', '2021-11-19',
               '2021-11-20', '2021-11-21', '2021-11-22', '2021-11-23',
               '2021-11-24', '2021-11-25', '2021-11-26', '2021-11-27',
               '2021-11-28', '2021-11-29', '2021-11-30', '2021-12-01',
               '2021-12-02', '2021-12-03', '2021-12-04', '2021-12-05'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
my_series.plot(range)

TypeError: ignored

In [ ]:
data = pd.DataFrame({'name': ['ego','munaroh','fatima','maimmunah'],
          'age': [2,23,25,22],
        'ipk': [2.5,3.0,2.8,3.4],
        'sks': [80,90,44,120],
              })
data

        name  age  ipk  sks
0        ego    2  2.5   80
1    munaroh   23  3.0   90
2     fatima   25  2.8   44
3  maimmunah   22  3.4  120

In [ ]:
data["kredit"] = data["ipk"] * data["sks"]
data

        name  age  ipk  sks  kredit
0        ego    2  2.5   80   200.0
1    munaroh   23  3.0   90   270.0
2     fatima   25  2.8   44   123.2
3  maimmunah   22  3.4  120   408.0

In [ ]:
datam = data.filter(regex="m", axis=0)
datam

Empty DataFrame
Columns: [name, age, ipk, sks, kredit]
Index: []

In [ ]:
movierate=pd.read_csv('http://bit.ly/imdbratings')

In [ ]:
movierate.head()

   star_rating  ...                                        actors_list
0          9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1          9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2          9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3          9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4          8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....

[5 rows x 6 columns]

In [ ]:
asa =movierate[(movierate["duration"] <= 100 ) & (movierate["star_rating"] > 7)]

In [ ]:
asa.sort_values(by=["star_rating"], ascending=False)

     star_rating  ...                                        actors_list
5            8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
35           8.6  ...  [u'Charles Chaplin', u'Paulette Goddard', u'He...
29           8.6  ...  [u'Charles Chaplin', u'Virginia Cherrill', u'F...
48           8.5  ...  [u'Peter Sellers', u'George C. Scott', u'Sterl...
55           8.5  ...  [u'Matthew Broderick', u'Jeremy Irons', u'Jame...
..           ...  ...                                                ...
943          7.4  ...  [u'Jack Nicholson', u'Morgan Freeman', u'Sean ...
942          7.4  ...  [u'Nicolas Cage', u'Holly Hunter', u'Trey Wils...
939          7.4  ...   [u'Ethan Hawke', u'Sarah Snook', u'Noah Taylor']
933          7.4  ...  [u'Alec Baldwin', u'Geena Davis', u'Michael Ke...
971          7.4  ...  [u'Matthew Macfadyen', u'Peter Dinklage', u'Ew...

[210 rows x 6 columns]

In [ ]:
movierate[movierate.title.str.contains("^12")]

     star_rating  ...                                        actors_list
5            8.9  ...  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
201          8.1  ...  [u'Chiwetel Ejiofor', u'Michael Kenneth Willia...
698          7.6  ...  [u'James Franco', u'Amber Tamblyn', u'Kate Mara']

[3 rows x 6 columns]